/* 
    Author     : Diana Santos
*/

table.menu {
    border-collapse: collapse;
    top:40%;
    right:  -5%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 4px 10px;
    width: 400px;
    height: 250px;
    opacity: 0.9;

}

img {
    position:absolute;
    top: 62%;
    right: 210px; 
    width:200px;
    height: 230px;

}

head{
    font-size: 14px;
    font-style: italic;
    color: #FFFFFF;
    
}

body {
  margin: 0;
  padding: 0;
  background: url(../IMAGENES/fondomenu.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
  font-size: 80px;
  font-weight: bold;
  font-family: serif;
  text-align: right;
  color:   #ff4e55;
}

table.menu td, table.menu th {
    border: 0px solid #d92929;
    padding: 6px 12px;
    color: #FFFFFF;
    border-radius:10px;
}
table.menu a:hover {
font-size:22px;
color:#0a038a;
font-style: italic;
}
table.menu td, table.menu th {
    padding: 6px 12px;

}
table.menu thead td , table.menu thead th,
table.menu tfoot td, table.menu tfoot th{
    font-weight: bold;
    font-size:30px;
    background-color:  #ff4e55;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #000;
}
table.menu tr:nth-of-type(odd) {
    background-color:  #b7f3ff;
    text-align:center;
    font-size:20px;
}
table.menu tr:nth-of-type(even){
    background-color: #FFFFFF;
    text-align:center;
    font-size:20px;
}

table.menu input[type="button"] {
  border: none;
  outline: none;
  height: 40px;
  background: #ff4e55;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  font-weight: bold;
}
table.menu input[type="button"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}