thead{
    color: #63357a;
    font-size: 28px;
}
body {
  margin: 0;
  padding: 0;
  background: url(../IMAGENES/fondolog.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 500px;
  height: 300px;
  background: #7893cc ;
  opacity: 0.9;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 30px;
  border: 5px solid #6682bd;
}

.login-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  background:#7893cc;
  border: 5px solid #6682bd;
}


.login-box td {
  width: 100%;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 26px;
  height: 20px;
  color: #1d2873;
}

.login-box input[type="text"], .login-box input[type="password"],select[style="text-align:center"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: #fff;
  outline: none;
  height: 24px;
  color: #000;
  font-size: 23px;
}


.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #864da3;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
