img.personasle {
    position:absolute;
    left:20%;
    top: 1%;
    width:800px;
    height: 190px;
}
table.general {
    border-collapse: collapse;
    top:160%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    opacity: 0.9;
}
table.general a:hover {
font-size:20px;
color:#100;
}
table.general td, table.general th {
    border: 2px solid #f3ff73;
    padding: 6px 12px;
}
table.general thead td , table.general thead th,
table.general tfoot td, table.general tfoot th{
    font-weight: bold;
    background-color: #ffff33;
    color: #000;
}
table.general tr:nth-of-type(odd) {
    background-color: #f0ee7f;
}
table.general tr:nth-of-type(even){
    background-color: #FFFFFF;
}
table.general tbody tr:hover {
    background-color: #239657;
    color: #FFFFFF;
}
table.general input[type="button"]{
  border: 4px solid #f3ff73;
  cursor: pointer;
  background: #ffff33;
  color: #000;
  font-size:16px;
  border-radius:20px;
}
table.general input[type="button"]:hover {
  cursor: pointer;
  background: #239657;
  color: #FFFFFF;
  border-radius:20px;
}

body {
  margin: 0;
  padding: 0;
  background: url(../IMAGENES/fondopersona.jpeg) no-repeat center top;
  background-size: cover;
  height: 260vh;
}

/*Agregar Sugerencia*/
table.rol {
    border-collapse: collapse;
    top:50%;
    right: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    
}
table.rol td, table.rol th {
   border: 3px solid #57ffef;
    padding: 6px 12px;
    
    font-weight: bold;
}
table.rol thead td, table.rol thead th,
table.rol tfoot td, table.rol tfoot th{
    font-weight: bold;
    color: #FFFFFF;
}
table.rol tr:nth-of-type(odd) {
    color: #FFFFFF;
    
}
table.rol tr:nth-of-type(even){
    color: #FFFFFF;
    
}
table.rol tbody tr:hover {
    font-style: italic;
    font-size:18px;
    
}
table.rol input[type="submit"]{
  border: none;
  cursor: pointer;
  background: #4b99b8;
  color: #000;
  font-size:16px;
  border-radius:20px;
}
table.rol input[type="button"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
  border-radius:20px;
}
table.rol input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
  border-radius:20px;
}